<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!-- 配置文件的命名空间应该是映射器接口的全限定名 -->
<mapper namespace="cn.myself.notecloud.dao.ShareDao">
	<insert id="save" parameterType="cn.myself.notecloud.entity.Share">
	INSERT INTO cn_share(
	cn_share_id,
	cn_share_title,
	cn_share_body,
	cn_note_id
	)VALUES(
	#{cn_share_id},
	#{cn_share_title},
	#{cn_share_body},
	#{cn_note_id}
	)
	</insert>
	<select id="findNoteByTitle" parameterType="Map" resultType="cn.myself.notecloud.entity.Share">
	SELECT 
			cn_share_id,
			cn_share_title,
			cn_share_body,
			cn_note_id
		FROM cn_share
		WHERE cn_share_title like #{title}
		LIMIT #{begin},3
	</select>
	
</mapper>